*{
	box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body{
	font-family: 'Titillium Web', sans-serif;
}


header{
	background:url("../img/BG.jpg") center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: top;
	background-size: cover;
	height: 525px;
    padding-top: 200px;
	text-align: center;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 48px;
	color: #fff;
}

h2, h3, h4, button, h5, h6, .social ul li{
	font-family: 'Teko', sans-serif;
	font-size: 	40px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;

}

h3{
	font-size: 18px;
	color: #f63c3c;
	letter-spacing: 1px;

}

h4{
	font-size: 30px;
	color: #151515;
}

h5{
	font-size: 20px;
	color: #010101;
	font-weight: 400;
}

h6{
	font-size: 30px;
	color: #b1afb0;
	font-weight: 300;
}

p{
	font-size: 24px;
	color: #fff;
	padding: 20px;
}

p2{
	font-size: 18px;
	font-weight: 300;
	color: #555555;
	line-height: 30px;
}

p3{
	font-size: 16px;
	font-weight: 300;
	color: #b4b4b4;
	letter-spacing: .5px;
}

a{
	color: #555555;
	text-decoration: underline;
}

.social ul li a{
	text-decoration: none;
	color: #352d2f;
}

time{
	color: #555555;
}


.article_info{
	background-color: #fafafa;
	padding-bottom: 30px;
	text-align: center;

}

.avatar{
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin-top: -35px;
}

.blogPost{
	width: 50%;
	margin: 60px auto 115px auto;
}

ul{
	margin: 0 0 70px 20px;
}

form{
	margin-top: 30px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #555555;
}

input, textarea{
	width: 100%;
	padding: 15px;
}

textarea{
	height: 240px;
	border: soild 1px #ccc;
}

button{
	width: 130px;
	height: 50px;
	background-color: #f63c3c;
	border: none;
	font-size: 18px;
	padding: 13px;
	color: #fff;
}

button:hover{
	background-color: #352d2f;
}

i{
	margin-right: 10px;
	color: #352d2f;
}

.social{
	text-align: center;
	width: 100%;
	margin-bottom: 40px;
}

.social ul li{
	width: 270px;
	height: 50px;
	float: left;
	border: #d3d1d1 solid 2px;
	margin: 15px;
	padding-top: 13px;
	list-style: none;
	font-size: 20px;
	color: #352d2f;
}

.social ul li:hover{
	background-color: #d3d1d1;
}


figure{
	width: 50%;
	height: 310px;
	overflow: hidden;
	float: left;
	position: relative;
}

figcaption{
	margin: 20px;
	position: absolute;
	top: 30%;
	z-index: 100;
	color: #fff;
}

figcaption:hover{
	color: #f63c3c;
}

footer{
	margin: 30px auto 30px auto;
	font-size: 13px;
	width: 90%;
}

.footer_position{
	float: right;
}

@media (max-width: 600px) {
	.blogPost{
		width: 100%;
		padding: 20px;
	}

	.social{
		padding: 20px;
	}

	figure{
		width: 100%;
	}

	footer{
		width: 100%;
		padding: 20px;
	}
	.footer_position{
		float: left;
		margin-top: 20px;
	}
}
